Track: <audio #audioTrack src="../assets/playerFiles/aqui estoy yo.mp3" controls></audio>
<audio #audioVoice src="../assets/recordFiles/voice.m4a"></audio>
VoiceRecord: <audio #audioVoiceRecord controls></audio>
<video #video src="../assets/recordFiles/video-only.mp4"></video>
<br/>
<button (click)="playAll()">Play</button>

<button (click)="playAll()">Pause</button>


<button (click)="record()">Record</button>
<button (click)="stopRecord()">StopRecord</button>

<br/>
<button (click)="playRecord()">Play Record</button>
<button (click)="stopPlayRecord()">Stop Play Record</button>
<br/>
<button (click)="playContext()">play context</button>
<button (click)="stopContext()">stop context</button>
<br/>
Duration: {{audioPlayer?.duration}}
<br/>
Track:<br/>
<input type="range" [(ngModel)]="volume.track" min="0" max="1" step="0.01"  value="1" (ngModelChange)="updateVolumeTrack($event)">
Voice:<br/>
<input type="range" [(ngModel)]="volume.voice" min="0" max="1" step="0.01"  value="1" (ngModelChange)="updateVolumeVoice($event)">

<router-outlet></router-outlet>


<ol id="recordingsList" #recordingsList></ol>


<canvas id="canvas" width="757" height="500"></canvas>
